<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.EmsUserDao">

    <select id="login" resultType="User">
	select * from user
	where name=#{name} and password=#{password}
</select>


    <insert id="regist">
	insert into user (name,rname,password,sex) values(#{name},#{rname},#{password},#{sex})
</insert>


</mapper>